In [1]:
import numpy as np
import pandas as pd
import IPython.display as display

import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
data=pd.read_csv('/home/ashwin/Downloads/TechGig DataSet/train.csv')

In [4]:
data.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>StringToExtract</th>
      <th>description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>3</td>
      <td>ddlsql144</td>
      <td>fotrscomi.srsrelvqe.2008.agentjob.jobduration ...</td>
    </tr>
    <tr>
      <th>1</th>
      <td>7</td>
      <td>ddlsql43</td>
      <td>a sql job failed to complete successfully. sql...</td>
    </tr>
    <tr>
      <th>2</th>
      <td>13</td>
      <td>ddlsql43</td>
      <td>a sql job failed to complete successfully. sql...</td>
    </tr>
    <tr>
      <th>3</th>
      <td>19</td>
      <td>ddlsql43</td>
      <td>a sql job failed to complete successfully. sql...</td>
    </tr>
    <tr>
      <th>4</th>
      <td>22</td>
      <td>fra-sql-03</td>
      <td>srsrelvqeagent - a sql job failed to complete ...</td>
    </tr>
  </tbody>
</table>
</div>