In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
points=pd.read_csv('D:\\data.csv')
points.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>dist_cycled</th>
      <th>calories</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>32.502345</td>
      <td>31.707006</td>
    </tr>
    <tr>
      <th>1</th>
      <td>53.426804</td>
      <td>68.777596</td>
    </tr>
    <tr>
      <th>2</th>
      <td>61.530358</td>
      <td>62.562382</td>
    </tr>
    <tr>
      <th>3</th>
      <td>47.475640</td>
      <td>71.546632</td>
    </tr>
    <tr>
      <th>4</th>
      <td>59.813208</td>
      <td>87.230925</td>
    </tr>
  </tbody>
</table>
</div>

In [ ]:
def error_caluclation(m,b):
    totalerror=0
    for i in range(len(points)):
        x=points[:,0]
        y=points[:,1]
        totalerror+=(y-(m*x+b))**2
    return totalerror/float(len(points))

In [ ]:
def caluclate_the_total_error(point_pair):
    return error_caluclation(point_pair[0],point_pair[1])

In [ ]:
def compute_jacobian(point_pair,h=1e-5):
    n=len(point_pair)
    jacobian=np.zeros(n)
    for i in range(n):
        x_i=np.zeros(n)
        x_i[i]+=h
        jacobian[i]=(caluclate_the_total_error(point_pair+x_i)-caluclate_the_total_error(point_pair))/h