In [24]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import IPython.display as display

%matplotlib inline
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [25]:
data2015=pd.read_csv('/home/ashwin/Downloads/Synechron_DataSet/Consolidate_2015.csv')

In [26]:
data2016=pd.read_csv('/home/ashwin/Downloads/Synechron_DataSet/Consolidate_2016.csv')

In [27]:
data2017=pd.read_csv('/home/ashwin/Downloads/Synechron_DataSet/Consolidated_2017.csv')

In [28]:
list(data2015)

['Outcome',
 'Message',
 'Identity',
 'Delay',
 'Headlines Securities CIK',
 'Headlines Securities CUSIP',
 'Headlines Securities Symbol',
 'Headlines Securities ISIN',
 'Headlines Securities Valoren',
 'Headlines Securities Name',
 'Headlines Securities Market',
 'Headlines Securities MarketIdentificationCode',
 'Headlines Securities MostLiquidExchange',
 'Headlines Securities CategoryOrIndustry',
 'Headlines Title',
 'Headlines Date',
 'Headlines Time',
 'Headlines UTCOffset',
 'Headlines Source',
 'Headlines Url',
 'Headlines Images',
 'Headlines Tags TagType',
 'Headlines Tags TagValues']

In [55]:
list(set(data2015['Headlines UTCOffset']))

[0]

In [30]:
data2015.describe()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Message</th>
      <th>Delay</th>
      <th>Headlines Securities CIK</th>
      <th>Headlines Securities CUSIP</th>
      <th>Headlines Securities ISIN</th>
      <th>Headlines Securities Valoren</th>
      <th>Headlines UTCOffset</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>0.0</td>
      <td>180652.000000</td>
      <td>1.705100e+05</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>1.739520e+05</td>
      <td>180652.0</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>NaN</td>
      <td>0.220624</td>
      <td>8.471557e+05</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>6.852097e+06</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>std</th>
      <td>NaN</td>
      <td>0.124714</td>
      <td>5.124232e+05</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>9.704778e+06</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>min</th>
      <td>NaN</td>
      <td>0.134997</td>
      <td>1.750000e+03</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>5.847000e+03</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>NaN</td>
      <td>0.171577</td>
      <td>3.201930e+05</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>9.132530e+05</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>NaN</td>
      <td>0.193018</td>
      <td>9.276280e+05</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1.285896e+06</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>NaN</td>
      <td>0.234000</td>
      <td>1.274494e+06</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1.144802e+07</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>max</th>
      <td>NaN</td>
      <td>1.760187</td>
      <td>1.703287e+06</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>3.759073e+07</td>
      <td>0.0</td>
    </tr>
  </tbody>
</table>
</div>

In [31]:
data2015.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180652 entries, 0 to 180651
Data columns (total 23 columns):
Outcome                                          180652 non-null object
Message                                          0 non-null float64
Identity                                         180652 non-null object
Delay                                            180652 non-null float64
Headlines Securities CIK                         170510 non-null float64
Headlines Securities CUSIP                       0 non-null float64
Headlines Securities Symbol                      173952 non-null object
Headlines Securities ISIN                        0 non-null float64
Headlines Securities Valoren                     173952 non-null float64
Headlines Securities Name                        173952 non-null object
Headlines Securities Market                      173952 non-null object
Headlines Securities MarketIdentificationCode    173952 non-null object
Headlines Securities MostLiquidExchange          175641 non-null object
Headlines Securities CategoryOrIndustry          173952 non-null object
Headlines Title                                  180642 non-null object
Headlines Date                                   180652 non-null object
Headlines Time                                   180652 non-null object
Headlines UTCOffset                              180652 non-null int64
Headlines Source                                 180652 non-null object
Headlines Url                                    180652 non-null object
Headlines Images                                 84154 non-null object
Headlines Tags TagType                           180483 non-null object
Headlines Tags TagValues                         178391 non-null object
dtypes: float64(6), int64(1), object(16)
memory usage: 31.7+ MB

In [49]:
data2015.isnull().sum()

Outcome                                               0
Message                                          180652
Identity                                              0
Delay                                                 0
Headlines Securities CIK                          10142
Headlines Securities CUSIP                       180652
Headlines Securities Symbol                        6700
Headlines Securities ISIN                        180652
Headlines Securities Valoren                       6700
Headlines Securities Name                          6700
Headlines Securities Market                        6700
Headlines Securities MarketIdentificationCode      6700
Headlines Securities MostLiquidExchange            5011
Headlines Securities CategoryOrIndustry            6700
Headlines Title                                      10
Headlines Date                                        0
Headlines Time                                        0
Headlines UTCOffset                                   0
Headlines Source                                      0
Headlines Url                                         0
Headlines Images                                  96498
Headlines Tags TagType                              169
Headlines Tags TagValues                           2261
dtype: int64

In [32]:
data2015.drop(['Message','Headlines Securities CUSIP',
               'Headlines Securities ISIN',
               'Headlines Images',
               'Headlines Securities MarketIdentificationCode',
               'Outcome','Identity','Delay',
               'Headlines Securities CIK','Headlines Securities Valoren',
               'Headlines Securities Symbol',
               'Headlines UTCOffset','Headlines Url'],axis=1)

(180652, 23)

In [38]:
list(set(data2015['Headlines Securities MarketIdentificationCode']))

[nan, 'XLON', 'XOTC', 'ARCX', 'XNAS', '_MFQS', 'OOTC', 'XTSE', 'XNYS', 'XASE']

In [45]:
list(set(data2015['Headlines Securities Market']))

[nan,
 'LSE',
 'NYSEARCA',
 'OTCBB',
 'OTHEROTC',
 'AMEX',
 'NASDAQ',
 'NASDAQ OMX Group MFQS (Mutual Fund Dissemination Service)',
 'TSX',
 'NYSE']